@media (max-width: 991px){
    .text-content{
        width: 100%;
    }

    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
        color: black;
    }

    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 10px;
      }
    
      .modal-title {
        font-size: 1.25rem;
      }
    
      .table_data th, .table_data td {
        font-size: 0.9rem;
        padding: 8px;
      }
    
      .modal-footer button {
        font-size: 0.9rem;
        padding: 8px 10px;
      }
    
}

@media (max-width:767px){
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 1.3rem;
        line-height: 28px;
    }
    .top-banner{
        padding: 10rem 0 9.375rem;
    }
    .testimonial-section .carousel-item{
        padding: 11rem 3.125rem;
    }
    
}
@media (max-width:330px){
    .testimonial-section .carousel-item{
        padding: 13rem 3.125rem;
        box-sizing: border-box;
    }
}

@media (max-width: 768px) {
    
  }
  
  @media (max-width: 480px) {
    .modal-title {
      font-size: 1rem;
    }
  
    .table_data th, .table_data td {
      font-size: 0.8rem;
      padding: 6px;
    }
  
    .modal-footer button {
      font-size: 0.8rem;
      padding: 6px 8px;
    }
  
    .preview img {
      width: 100%;
      height: auto;
    }
  }
  